.main-div{
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.menu-div{
    color: white;
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 56px;
    padding: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 0;
    box-shadow: 0 0 2px 0 #666;
    z-index: 9990;
}
.panorama-menu{
    cursor: pointer;
    position: relative;
    display: block;
    float: left;
    width: 20vw;
    height: 50px;
    margin: 0;
    padding: 0;
}
.panorama-menu i{
    display: block;
    position: relative;
    background: url(/img/menu.png) no-repeat;
    background-size: 702px 140px;
    background-position-y: -26px;
    width: 32px;
    height: 32px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
}
.panorama-menu span{
    display: block;
    position: relative;
    color: rgb(255, 255, 255);
    top: -3px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    transform: scale(0.9);
}
.action>span{
    color: rgb(233,184,132);
}
.action>i{
    /*background-position-y: -85px;*/
}
.menu-content{
    position: absolute;
    bottom: 51px;
    transition: height 0s ease 0s, opacity 0.6s ease 0s, all 0.6s ease 0s;
    opacity: 1;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 20vw;
    margin: auto;
    border-radius: 4px;
    z-index: 99999;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
}
.menu-simple-content{
}
.menu-text{
    display: block;
    position: relative;
    background: none;
    width: auto;
    height: 17px;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    float: none;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}
.menu-text-action{
    color: rgb(233,184,132);
    border-bottom: 3px solid rgb(233,184,132);
}
.menu-others-content{
    position: absolute;
    text-align: center;
    display: none;
    height: 40px;
    padding-top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 55px;
    background-color: rgba(0,0,0,0.5);
}
.others-content{
    display: block;
    cursor:pointer;
    float: left;
    width: 50px;
    height: 30px;
    margin: 0;
    padding: 0;
    position: relative;
    background: url(/img/menu.png) no-repeat;
    background-size: 1536px 128px;
    background-position-y: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0.9);
    z-index: 9999;
}
.others-action {
    background-position-y: -32px;
}
.others-content-div{
    width: 150px;
    margin:0 auto;
}
.others-content-tel{
    left: 20%;
    bottom: 110px;
}
.content-tel{
    display: block;
    position: relative;
    background: none;
    width: auto;
    height: 17px;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}
.tel{
    background-position-x: -1240px;
}
.music{
    background-position-x: -490px;
}
.map{
    background-position-x: -840px;
}
.logo-spot{
    width: 40px;
    height: 50px;
    background: url(/img/logo.png) no-repeat;
    background-size: 100%;
    animation: logoAnimate 2s infinite ease-in-out;
    -webkit-animation: logoAnimate 2s infinite ease-in-out;
}
.logo-spot-img{
    width: 40px;
    animation: logoAnimate 2s infinite linear;
    -webkit-animation: logoAnimate 2s infinite linear;
}
.spot-img{
    width: 70px;
    margin-top: -30px;
    margin-left: -30px;
}
.room-navigate{
    display: none;
    top:0;
    left: 0;
    position: absolute;
    z-index: 3100;
    overflow: visible;
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
    background-image: url(http://www.cq-rgb.com/rlsg3/skin/map/boxbg2.png);
    width: 250px;
    height: 273px;
    background-position: 0 0;
    background-size: 250px 273px;
    transition-duration:500ms;
    transform: translateZ(1e+12px) translate(-250px, 2px) translate(-125px, -136.5px) rotate(0deg) translate(125px, 136.5px);
}
.room-navigate-img{
    position: absolute;
    z-index: 3001;
    overflow: visible;
    opacity: 1;
    cursor: default;
    pointer-events: auto;
    width: 245px;
    height: 238px;
    background-position: 0 0;
    background-size: 245px 238px;
    transform: translateZ(1e+12px) translate(0px, 18px) translate(-122.5px, 0px) rotate(0deg) translate(122.5px, 0px);
}
.room-navigate-icon{
    position: absolute;
    z-index: 3001;
    overflow: visible;
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
    background-image: url(/img/simpleImg/show-icon.png);
    width: 39px;
    height: 117px;
    background-position: 0px 0px;
    background-size: 39px 117px;
    transform: translateZ(1e+12px) translate(206px, 0px) translate(19.5px, -58.5px) rotate(0deg) translate(18px, 58.5px);
}

.navigate-position{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    margin: 2px;
    width: 30px;
    height: 30px;
}
.home-img-container{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9995;
    /*display: -webkit-flex; !* Safari *!*/
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}
.loading{
    width: 150px;
    height: 15px;
    margin: 0 auto;
    position: relative;
    z-index: 9996;
}
.loading div{
    text-align: center;
    color: white;
}
.loading span{
    position: absolute;
    width: 15px;
    height: 100%;
    border-radius: 50%;
    background: lightgreen;
    -webkit-animation: load 1.04s ease-in infinite alternate;
}
@-webkit-keyframes load{
    0%{
        opacity: 1;
        -webkit-transform: translate(0px);
    }
    100%{
        opacity: 0.2;
        -webkit-transform: translate(135px);
    }
}
.loading span:nth-child(1){
    -webkit-animation-delay:0.13s;
}
.loading span:nth-child(2){
    -webkit-animation-delay:0.26s;
}
.loading span:nth-child(3){
    -webkit-animation-delay:0.39s;
}
.loading span:nth-child(4){
    -webkit-animation-delay:0.52s;
}
.loading span:nth-child(5){
    -webkit-animation-delay:0.65s;
}
.simple-hotspot{
    height: 70px;
    color: #ffffff;
    text-align: center;
}
.simple-hotspot>div{
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    padding: 0 5px;
}
.forward-hotspot{
    background: url(/img/simpleImg/forward.png) no-repeat;
    background-size: 100%;
    background-position-y: 10px;
}
.right-hotspot{
    background: url(/img/simpleImg/turnRight.png) no-repeat;
    background-size: 100%;
    background-position-y: 10px;
}
.left-hotspot{
    background: url(/img/simpleImg/turnLeft.png) no-repeat;
    background-size: 100%;
    background-position-y: 10px;
}

@keyframes imgTwinkle {
    0%{
        opacity: 1;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 0.3;
    }
    75%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes logoAnimate {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(2px);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(-2px);
    }
    100%{
        transform: translateY(0);
    }
}