
<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover"  name="viewport" />
    <title>鑫源·星河湾</title>
    <link rel="stylesheet" href="/css/pannellum.css"/>
    <link rel="stylesheet" href="/css/panoramic.css"/>
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/pannellum.js"></script>
    <script type="text/javascript" src="/js/libpannellum.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <style>
        body{
            width: 100vw;
            height: 100vh;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        .nav-simple{
            display: none;
            position: absolute;
            right: -5em;
            bottom: 0;
            font-size: 12px;
            height: 4em;
            background-color: rgba(0,0,0,0.5);
        }
        .progess-percent{
            position: absolute;
            z-index: 9;
            transform: translateZ(1px) scale(0.8);
        }
        .area_list div{
            display: inline-block;
        }
        .area_item{
            font-size: 14px;
            padding: 2px;
            transform: translate(-4px,-1px);
        }
        .room_item{
            font-size: 14px;
            padding: 2px;
            transform: translate(-4px,-1px);
        }
        .park_item{
            font-size: 14px;
            padding: 2px;
            transform: translate(-4px,-1px);
        }
        .area_item_line{
            transform: translate(-4px,-3.5px);
        }
        .item_active{
            background-color: #a59165c2
        }
        .room_active{
            background-color: #a59165c2
        }
        .pan-tiny{
            position: absolute;
            left: 0;
            bottom: 150px;
            background: url(/img/pan-bg.png) repeat;
            background-size: 100% 100%;
            padding: 5px 0 5px 0;
            height: 53px;
            display: flex;
            align-items: center;
        }
        .pan-tiny img{
            width: 83px;
            opacity: 0.5;
        }
        .simple-tiny{
            display: none;
            position: absolute;
            left: 0;
            bottom: 150px;
            background: url(/img/pan-bg.png) repeat;
            background-size: 100% 100%;
            padding: 5px 0 5px 0;
            height: 53px;
            align-items: center;
        }
        .pan-tiny1{
            position: absolute;
            left: -65px;
            bottom: 150px;
        }
        .pan-tiny1 img{
            width: 40px;
            height: 63px;
        }
        .pan-item{
            cursor: pointer;
            background-position: center !important;
            opacity: 0.5;
            width: 70px;
            height: 47px;
            border: 3px solid white;
            display: inline-block;
        }
        .pan-item p{
            position: relative;
            font-size: 15px;
            top: 26px;
            margin: 0;
            color: white;
            text-align: center;
            background-color: rgba(0,0,0,0.5);
        }
        .element::-webkit-scrollbar { width: 0 !important }
        .simple-nav{
            display: inline-block;
            width: 250px;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
        }
        .pan-control{
            cursor: pointer;
            width: 50px;
            height: 63px;
            background: url(/img/pan-control2.png) no-repeat;
            background-size: 100% 100%;
            margin-right: -50px;
            display: inline-block;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            -webkit-user-select: none;
            -moz-user-focus: ignore;
            -moz-user-select: none;
        }
        .hotspot-active{
            background-color: #a59165c2 !important;
        }
        .menu-div1{
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            -webkit-user-select: none;
            -moz-user-focus: ignore;
            -moz-user-select: none;
        }
        .hotspot-controller{
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            -webkit-user-select: none;
            -moz-user-focus: ignore;
            -moz-user-select: none;
        }

    </style>
</head>
<body>
<div class="main-div">
    <div class="top-toolbar" style="background: url(/img/top.png) no-repeat;background-size: 150%;">
        <div style="flex-direction: row-reverse;margin-top: -10px;"><i style="background: url(/img/music.png) no-repeat;top: 3px;background-size: 100%;"></i><span>|</span><i style="background: url(/img/phone.png) no-repeat; top: 3px;background-size: 100%;"></i></div>
    </div>
    <div class="panoramic-div" id="panorama"></div>
    <div class="menu-div">
        <div class="panorama-menu-control" style="cursor: pointer;" >
            <img src="/img/menu-control.png" />
        </div>
        <!--<div class="panorama-menu-main">-->
            <div class="panorama-menu menu-panorama-view nav-page action" link="PanoramaView" link1="Pan">
                <div class="menu-content menu-simple-content">
                    <!-- <div class="menu-text nav-page" link="PanoramaView">全景鸟瞰1</div> -->
                </div>
                <i style="background: url(/img/menu1.png) no-repeat; background-size: 100%;"></i><span>全景鸟瞰</span>
            </div>
            <div class="panorama-menu menu-area nav-page" link="AreaMap" >
                <div class="menu-content menu-simple-content" style="width:150px;height: 26px; border-radius: 45px; padding: 0 10px;bottom: 67px;">
                    <div class="menu-text nav-panorama area_list" style="margin: 0;transform: translate(0,-2px);">
                        <div class="area_item item_active" link="0" style="border-radius: 45px 0 0 45px;padding-left: 6px;margin-left: -15px;">交通</div>&nbsp;<div class="area_item_line">|</div>
                        <div class="area_item" link="1">教育</div>&nbsp;<div class="area_item_line">|</div>
                        <div class="area_item" link="2">商业</div>&nbsp;<div class="area_item_line">|</div>
                        <div class="area_item" link="3" style="border-radius: 0 45px 45px 0;padding-right: 6px;margin-right: -23px;">医疗</div>
                    </div>
                </div>
                <i style="background: url(/img/menu2.png) no-repeat; background-size: 100%;"></i><span>互动区位</span>
            </div>
            <div class="panorama-menu menu-park nav-page" link="Park"  >
                <div class="menu-content menu-simple-content" style="width:260px;height: 26px; border-radius: 45px; padding: 0 10px;bottom: 67px;margin-left: -35vw">
                    <div class="menu-text nav-panorama area_list" style="margin: 0;transform: translate(0,-2px);">
                        <div class="park_item item_active" link="0" style="border-radius: 45px 0 0 45px;padding-left: 6px;margin-left: -15px;">项目正门</div>&nbsp;<div class="area_item_line">|</div>
                        <div class="park_item" link="1">儿童乐园</div>&nbsp;<div class="area_item_line">|</div>
                        <div class="park_item" link="2">商业街区</div>&nbsp;<div class="area_item_line">|</div>
                        <div class="park_item" link="3" style="border-radius: 0 45px 45px 0;padding-right: 6px;margin-right: -23px;">中庭景观</div>
                    </div>
                </div>
                <i style="background: url(/img/menu3.png) no-repeat; background-size: 100%;"></i><span>园林景观</span>
            </div>
            <div class="panorama-menu menu-room-type nav-page"  link="RoomType" >
                <div class="menu-content menu-simple-content">

                </div>
                <i style="background: url(/img/menu4.png) no-repeat; background-size: 100%;"></i><span>户型鉴赏</span>
            </div>
            <div class="panorama-menu menu-park nav-page" link="Simple" link1="Sim">
                <div class="menu-content menu-simple-content" style="width: 320px; height: 26px; border-radius: 45px; padding: 0 10px; bottom: 67px; margin-left: -297px;">
                    <div class="menu-text nav-panorama area_list" style="margin: 0;transform: translate(0,-2px);">
                        <div class="room_item room_active" scene="A" style="border-radius: 45px 0 0 45px;padding-left: 6px;margin-left: -15px;">A1【130.08㎡】</div>&nbsp;<div class="area_item_line">|</div>
                        <div class="room_item" scene="B">B【142.10㎡】</div>&nbsp;<div class="area_item_line">|</div>
                        <div class="room_item" scene="C" style="border-radius: 0 45px 45px 0;padding-right: 6px;margin-right: -23px;">C1【147.51㎡】</div>
                    </div>
                </div>
                <i style="background: url(/img/menu5.png) no-repeat; background-size: 100%;"></i><span>样板间</span>
            </div>
        <!--</div>-->
    </div>
    <div class="menu-div1" style="cursor: pointer;">
        <img src="/img/menu-control1.png" style="width: 56px;">
    </div>
    <div onclick="window.location.href ='tel:02835018888'" class="content-tel">联系电话：028-35018888</div>
    <div class="content-div" >
        <div class="pan-tiny">
            <div style="display: inline-block">
                <div class="pan-item pan-change" scene="panorama" style="background: url(/img/panoramaViewImg/pan1-tiny.jpg) no-repeat; opacity: 1">
                    <p>白天鸟瞰</p>
                </div>
                <div class="pan-item pan-change" scene="panorama1" style="background: url(/img/panoramaViewImg/pan2-tiny.jpg) no-repeat;">
                    <p>夜景鸟瞰</p>
                </div>
            </div>
            <div class="pan-control"></div>
        </div>
        <div class="simple-tiny">
            <div class="simple-nav simple-a simple-active">
                <div class="pan-item pan-change" scene="livingRoom" style="background: url(/img/simpleImg/A/livingRoom-tiny.jpg);opacity: 1">
                    <p>客厅</p>
                </div>
                <div class="pan-item pan-change" scene="balcony" style="background: url(/img/simpleImg/A/balcony-tiny.jpg) no-repeat;">
                    <p>阳台</p>
                </div>
                <div class="pan-item pan-change" scene="bedRoom2" style="background: url(/img/simpleImg/A/bedRoom1-tiny.jpg) no-repeat;">
                    <p>主卧</p>
                </div>
                <div class="pan-item pan-change" scene="bedRoom1" style="background: url(/img/simpleImg/A/bedRoom2-tiny.jpg) no-repeat;">
                    <p>次卧</p>
                </div>
                <div class="pan-item pan-change" scene="bedRoom3" style="background: url(/img/simpleImg/A/bedRoom3-tiny.jpg) no-repeat;">
                    <p>次卧</p>
                </div>
                <div class="pan-item pan-change" scene="kitchen" style="background: url(/img/simpleImg/A/kitchen-tiny.jpg) no-repeat;">
                    <p>厨房</p>
                </div>
                <div class="pan-item pan-change" scene="toilet" style="background: url(/img/simpleImg/A/toilet-tiny.jpg) no-repeat;">
                    <p>客卫</p>
                </div>
                <div class="pan-item pan-change" scene="toilet1" style="background: url(/img/simpleImg/A/toilet1-tiny.jpg) no-repeat;">
                    <p>主卫</p>
                </div>
            </div>
            <div class="simple-nav simple-b" style="display: none;">
                <div class="pan-item pan-change" scene="livingRoom" style="background: url(/img/simpleImg/B/livingRoom-tiny.jpg) no-repeat;opacity: 1">
                    <p>客厅</p>
                </div>
                <div class="pan-item pan-change" scene="balcony" style="background: url(/img/simpleImg/B/balcony-tiny.jpg) no-repeat;">
                    <p>阳台</p>
                </div>
                <div class="pan-item pan-change" scene="bedRoom1" style="background: url(/img/simpleImg/B/bedRoom1-tiny.jpg) no-repeat;">
                    <p>主卧</p>
                </div>
                <div class="pan-item pan-change" scene="bedRoom2" style="background: url(/img/simpleImg/B/bedRoom2-tiny.jpg) no-repeat;">
                    <p>次卧</p>
                </div>
                <div class="pan-item pan-change" scene="bedRoom3" style="background: url(/img/simpleImg/B/bedRoom3-tiny.jpg) no-repeat;">
                    <p>次卧</p>
                </div>
                <div class="pan-item pan-change" scene="kitchen" style="background: url(/img/simpleImg/B/kitchen-tiny.jpg) no-repeat;">
                    <p>厨房</p>
                </div>
                <div class="pan-item pan-change" scene="toilet" style="background: url(/img/simpleImg/B/toilet-tiny.jpg) no-repeat;">
                    <p>主卫</p>
                </div>
                <div class="pan-item pan-change" scene="toilet1" style="background: url(/img/simpleImg/B/toilet1-tiny.jpg) no-repeat;">
                    <p>客卫</p>
                </div>
                <div class="pan-item pan-change" scene="entrance" style="background: url(/img/simpleImg/B/entrance-tiny.jpg) no-repeat;">
                    <p>入户</p>
                </div>
            </div>
            <div class="simple-nav simple-c" style="display: none;">
                <div class="pan-item pan-change" scene="livingRoom" style="background: url(/img/simpleImg/C/livingRoom-tiny.jpg) no-repeat;opacity: 1;">
                    <p>客厅</p>
                </div>
                <div class="pan-item pan-change" scene="balcony" style="background: url(/img/simpleImg/C/balcony-tiny.jpg) no-repeat;">
                    <p>阳台</p>
                </div>
                <div class="pan-item pan-change" scene="bedRoom1" style="background: url(/img/simpleImg/C/bedRoom1-tiny.jpg) no-repeat;">
                    <p>主卧</p>
                </div>
                <div class="pan-item pan-change" scene="bedRoom2" style="background: url(/img/simpleImg/C/bedRoom2-tiny.jpg) no-repeat;">
                    <p>次卧</p>
                </div>
                <div class="pan-item pan-change" scene="bedRoom3" style="background: url(/img/simpleImg/C/bedRoom3-tiny.jpg) no-repeat;">
                    <p>次卧</p>
                </div>
                <div class="pan-item pan-change" scene="bookRoom" style="background: url(/img/simpleImg/C/bookRoom-tiny.jpg) no-repeat;">
                    <p>书房</p>
                </div>
                <div class="pan-item pan-change" scene="kitchen" style="background: url(/img/simpleImg/C/kitchen-tiny.jpg) no-repeat;">
                    <p>厨房</p>
                </div>
                <div class="pan-item pan-change" scene="toilet" style="background: url(/img/simpleImg/C/toilet-tiny.jpg) no-repeat;">
                    <p>主卫</p>
                </div>
                <div class="pan-item pan-change" scene="toilet1" style="background: url(/img/simpleImg/C/toilet1-tiny.jpg) no-repeat;">
                    <p>客卫</p>
                </div>
                <div class="pan-item pan-change" scene="entrance" style="background: url(/img/simpleImg/C/entrance-tiny.jpg) no-repeat;">
                    <p>入户</p>
                </div>
            </div>
            <div class="pan-control"></div>
        </div>
        <div class="pan-tiny1">
            <img src="/img/pan-control1.png">
        </div>
    </div>
    <div class="home-img-container">
        <div class="progess-percent">0%</div>
    </div>
    <div class="ad-img-container"></div>
    <div class="hotspot-controller" style="cursor: pointer;position: absolute;left: 0;top: 30vh;padding: 2px 8px 2px 0;background-color: rgba(0,0,0,0.5);border-radius: 0 45px 45px 0;color: white;font-size: 14px;">周边配套</div>
<!--    <img id="ad-img" src="/img/ad.jpg">-->
    <div style="display: none">
        <p id="appId" th:text="${appid}"></p>
        <p id="timestamp" th:text="${timestamp}"></p>
        <p id="nonceStr" th:text="${nonceStr}"></p>
        <p id="signature" th:text="${signature}"></p>
        <p id="url" th:text="${url}"></p>
    </div>
</div>
<div id="panorama1"></div>
<script>
    //encodeURI
    let link = window.location.href.split("?")[0];
    if(link !== window.location.href)
    {
        window.location.href = link;
    }
    viewer = undefined;
    debug = true;
    hfov = isMobile() ?60:120;
    roomfov = isMobile()?60:120;
    interval = undefined;
    loop=0;
    $(document).ready(function (){
        //计算进度元素显示位置
        let x =710/1619;
        let y =1475/2549;
        let bgP =2549/1619;
        let width =window.innerWidth;
        let height =window.innerHeight;
        let bgH = width*bgP;
        let calh =(height-bgH)/2;
        $(".progess-percent").css({"left":width*x+"px","top":(bgH*y+calh)+"px"});

        let url=$("#url").text();//location.href;
        wx.config({
            debug: false,
            appId: $("#appId").text(),
            timestamp: $("#timestamp").text(),
            nonceStr: $("#nonceStr").text(),
            signature: $("#signature").text(),
            jsApiList: [
                'onMenuShareAppMessage',
                'onMenuShareTimeline'
            ]
        });
        wx.ready(function () {      //需在用户可能点击分享按钮前就先调用
            let shareData = {
                title: "蓉泰·紫金天府·微沙盘", // 分享标题
                desc: "蓉泰·紫金天府【人文府邸 名仕大宅】115㎡-198㎡生态花语洋房。", // 分享描述
                link: url, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: 'http://www.jxtfh5.top/img/share.jpg', // 分享图标
                success: function () {
                    //alert("分享给朋友配置成功");
                }
            };
            wx.onMenuShareAppMessage(shareData);
            wx.onMenuShareTimeline(shareData);
        });
        wx.error(function (res) {
            //alert.log("wxconfigERROR:"+res.errMsg);
        });
        for(let i =0;i<49;i++){
            $(".room-navigate-img").append($("<div class='navigate-position' number="+i+"></div>"));
        }
        menuClick("/getPanoramaView");
        // wbmg_MusicManager.regist('background', '/music/Leaf-white-album.mp3');
        // wbmg_MusicManager.play( 'background' );
        //菜单收缩动画
        $(".panorama-menu-control").click(function () {
            $(".menu-div").animate({"left":"-880px"},1000);
            $(".menu-div1").animate({"left":"0"},1000);
        });
        $(".menu-div1").click(function () {
            $(".menu-div1").animate({"left":"-70px"},1000);
            $(".menu-div").animate({"left":"0"},1000);
        });
        //全景图收缩动画
        $(".pan-tiny").click(function () {
            panAnimateHide();
        });
        $(".pan-tiny1").click(function () {
            panAnimateShow();
            simpleAnimateShow();
        });
        $(".simple-tiny").click(function () {
            simpleAnimateHide();
        });
        $(".pan-item").click(function (e) {
            e.stopPropagation();
        });
        $(".panorama-menu").click(function(){
            //鸟瞰菜单左侧动画
            if($(this).attr("link1") === "Pan"){
                $(".pan-tiny1").show();
                $(".pan-tiny").show();
                panAnimateShow();
            }else{
                $(".pan-tiny1").hide();
                $(".pan-tiny").hide();
            }
            if($(this).attr("link1") === "Sim"){
                $(".pan-tiny1").show();
                $(".simple-tiny").css("display","flex");
                simpleAnimateShow();
            }else{
                $(".pan-tiny1").hide();
                $(".simple-tiny").hide();
            }
            $(".content-tel").hide();
            $(this).addClass("action");
            $(this).siblings().removeClass("action");
            if($(this).attr("link") === "Others"){return;}
            //子菜单展示
            let target = $(this).children(".menu-content");
            let flag = target.is(':visible');
            $(".menu-content").hide();
            if (flag) {
                target.hide();
            } else {
                target.show();
            }
        });
        //切换全景
        $(".pan-change").click(function () {
            $(this).siblings().css("opacity","0.5");
            $(this).css("opacity","1");
            viewer.loadScene($(this).attr("scene"));
        });
        //加载热点
        $(".hotspot-controller").click(function () {
            if($(this).hasClass("hotspot-active")){
                $(this).removeClass("hotspot-active");
                let oldSpot =getHotSpotSlot();
                for(let i=0;i<oldSpot.length;i++){
                    viewer.removeHotSpot(oldSpot[i].id);
                }
            }else{
                $(this).addClass("hotspot-active");
                let newSpot=getHotSpotSlot();
                for(let i=0;i<newSpot.length;i++){
                    viewer.addHotSpot(newSpot[i]);
                }
            }
        });
        $(".menu-simple").click(function () {
            $(".menu-others-content").hide();
            $(".menu-simple-content").toggle();
        });
        $(".menu-text").click(function () {
            $(".hotspot-slot-view").hide();
            $(".ad-img-container").hide();
        });
        //全景图跳转
        $(".nav-panorama").click(function () {
            event.stopPropagation();
            let type = $(this).attr("type");
            if(type === "child"){
                $(".nav-simple").toggle();
                return;
            }

            if(type){
                $(".nav-panorama").removeClass("simple-content-action");
                $(this).addClass("simple-content-action");
                if(type === "simple"){
                    //户型导航坐标点样式添加
                    let navType = $(this).attr("link");
                    let navPos = $(".navigate-position");
                    navPos.removeClass("nav-pos-simple3");
                    navPos.removeClass("nav-pos-simple4");
                    navPos.addClass("nav-pos-"+navType);
                }
                menuClick("/"+type+ "?token=" + new Date().getTime());
            }
        });
        //页面跳转
        $(".nav-page").click(function () {
            if($(this).attr("link") === "PanoramaView"){
                $(".hotspot-controller").show();
            }else{
                $(".hotspot-controller").hide();
            }
            let url = "/get"+$(this).attr("link");
            menuClick (url);
        });
        $(".menu-others").click(function () {
            $(".menu-simple-content").hide();
            $(".others-content-tel").hide();
            $(".menu-others-content").toggle("slow"); 
        });
        //园林景观切换
        $(".park_item").click(function (){
            $(".park_item").removeClass("item_active");
            $(this).addClass("item_active");
            $(".vedio_item").hide();
            $($(".vedio_item")[$(this).attr("link")]).show();
        });
        //区位切换
        $(".area_item").click(function (){
            $(".area_item").removeClass("item_active");
            $(this).addClass("item_active");
            $(".float_item").removeClass("float_active");
            $($(".float_item")[$(this).attr("link")]).addClass("float_active");
        });
        //样板间切换
        $(".room_item").click(function (){
            $(".simple-nav").hide();
            $(".simple-nav").removeClass("simple-active");
            switch ($(this).attr("scene")) {
                case "A":$(".simple-a").show(); $(".simple-a").addClass("simple-active");break;
                case "B":$(".simple-b").show(); $(".simple-b").addClass("simple-active");break;
                case "C":$(".simple-c").show(); $(".simple-c").addClass("simple-active");break;
            }
            $(".room_item").removeClass("room_active");
            $(this).addClass("room_active");
            viewer.loadScene($(this).attr("scene"));
            menuClick("/getSimple");
        });

        $("#ad").click(function () {
            $(".ad-img-container").show();
        });
        $("#tel").click(function () {
            event.stopPropagation();
            $(".content-tel").toggle();
            telfun();
        });
        $(".music").click(function () {
            musicfun();
        });

    });
    function panAnimateHide(){
        $(".pan-tiny").animate({"left":"-280px"},1000);
        $(".pan-tiny1").show();
        $(".pan-tiny1").animate({"left":"0"},1000);
    }
    function panAnimateShow(){
        $(".pan-tiny1").animate({"left": "-60px"},1000);
        $(".pan-tiny").animate({"left": "0"},1000);
    }
    function simpleAnimateHide(){
        $(".simple-tiny").animate({"left":"-320px"},1000);
        $(".pan-tiny1").show();
        $(".pan-tiny1").animate({"left":"0"},1000);
    }
    function simpleAnimateShow(){
        $(".pan-tiny1").animate({"left": "-60px"},1000);
        $(".simple-tiny").animate({"left": "0"},1000);
    }

    document.getElementsByClassName("music")[0].addEventListener('touchstart', function(e) {
        musicfun();
        e.preventDefault();
    });

    function peogressHander(e) {
        console.log("hander:"+(e+'').substring(0,4));
        let html = (e+'').substring(0,4)+"%";
        $(".progess-percent").html(html);
    }
    
    function telfun(){
        $(".content-tel").css("float","none");
        $(".others-content-tel").toggle();
    }
    function musicfun(){
        let e = $(".music");
        if(e.hasClass("others-action")){
            e.removeClass("others-action");
            wbmg_MusicManager.play( 'background' );
        }else{
            wbmg_MusicManager.pause( 'background' );
            e.addClass("others-action");
        }
    }

    function menuClick (url){
        $.ajax({
            url:url,
            type:"get",
            success:function (e){
                if(url.indexOf("AreaMap")!==-1 || url.indexOf("RoomType")!==-1 ||url.indexOf("Park")!==-1){
                    $("#panorama").html("");
                    $("#panorama").html(e);
                }else {
                    $("#panorama1").html(e);
                }
            }
        });
    }

    function isMobile() {
        let userAgentInfo = navigator.userAgent;
        let mobileAgents = [ "Android", "iPhone", "SymbianOS", "Windows Phone", "iPad","iPod"];
        let mobile_flag = false;
        //根据userAgent判断是否是手机
        for (let v = 0; v < mobileAgents.length; v++) {
            if (userAgentInfo.indexOf(mobileAgents[v]) > 0) {
                mobile_flag = true;
                break;
            }
        }
        let screen_width = window.screen.width;
        let screen_height = window.screen.height;
        //根据屏幕分辨率判断是否是手机
        if(screen_width < 600 && screen_height < 900){
            mobile_flag = true;
        }
        return mobile_flag;
    }

    let wbmg_MusicManager = new function() {
        let listMusics = {};
        this.regist = function(nameMusic, urlMusic) {
            if (null != nameMusic && null != urlMusic) {
                let elementAudio = document.createElement('audio');
                elementAudio.id = nameMusic;
                elementAudio.loop = 'loop';
                elementAudio.src = urlMusic;
                document.body.appendChild(elementAudio);
                document.addEventListener("WeixinJSBridgeReady", function() { elementAudio.play(); }, false);
                document.addEventListener('YixinJSBridgeReady', function() { elementAudio.play(); }, false);
                listMusics[nameMusic] = { 'name': nameMusic, 'object': elementAudio, 'url': urlMusic };
            }
        };
        this.play = function(nameMusic) {
            if (listMusics[nameMusic]) {
                let itemMusic = listMusics[nameMusic];
                itemMusic['object'].play();
            }
        };
        this.pause = function(nameMusic, statu) {
            if (null != statu) {
                statu ? itemMusic['object'].play() : itemMusic['object'].pause();
            } else {
                if (listMusics[nameMusic]) {
                    let itemMusic = listMusics[nameMusic];
                    if (itemMusic['object'].paused) {
                        itemMusic['object'].play();
                    } else {
                        itemMusic['object'].pause();
                    }
                }
            }
        }
    };


</script>

</body>
</html>