
<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>鑫源·星河湾</title>
    <link rel="stylesheet" href="/css/pannellum.css"/>
    <link rel="stylesheet" href="/css/panoramic.css"/>
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/pannellum.js"></script>
    <script type="text/javascript" src="/js/libpannellum.js"></script>
    <script type="text/javascript" src="//api.map.baidu.com/api?v=3.0&ak=sIp370V564Qe2foGr29z2MnMFZIDVI4c"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <style>
        body{
            width: 100vw;
            height: 100vh;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        .nav-simple{
            display: none;
            position: absolute;
            right: -5em;
            bottom: 0;
            font-size: 12px;
            height: 4em;
            background-color: rgba(0,0,0,0.5);
        }
        .nav-app{
            display: none;
            position: absolute;
            bottom: 86px;
            margin: 10px;
        }
        .progess-percent{
            position: absolute;
            z-index: 9;
            transform: translateZ(1px) scale(0.8);
        }
    </style>
</head>
<body>
<div class="main-div">
    <div class="panoramic-div" id="panorama"></div>
    <div class="menu-div">
        <div class="panorama-menu menu-panorama-view action" >
            <div class="menu-content menu-simple-content">
                <div class="menu-text nav-page" link="AreaMap">全景鸟瞰</div>
                <div class="menu-text nav-panorama" type="projectOverview" link="traffic">配套</div>
                <div class="menu-text nav-panorama" type="projectOverview" link="industry">产业圈</div>
            </div>
            <i style="background-position-x: -55px;"></i><span>区域规划</span>
        </div>
        <div class="panorama-menu menu-area" >
            <div class="menu-content menu-simple-content">
                <div class="menu-text nav-panorama" type="projectOverview" link="panorama">鸟瞰图</div>
                <div class="menu-text nav-panorama" type="projectOverview" link="business">商业地块</div>
                <div class="menu-text nav-panorama" type="projectOverview" link="apartment">住宅地块</div>
            </div>
            <i style="background-position-x: -200px;"></i><span>项目概况</span>
        </div>
        <div class="panorama-menu menu-park " >
            <div class="menu-content menu-simple-content">
                <div class="menu-text nav-panorama" type="projectOverview" link="basketball">篮球公园</div>
                <div class="menu-text nav-panorama" type="projectOverview" link="landscape">五大景观</div>
                <div class="menu-text ">宣传视频</div>
            </div>
            <i style="background-position-x: -337px;"></i><span>景观鉴赏</span>
        </div>
        <div class="panorama-menu menu-room-type" >
            <div class="menu-content menu-simple-content">
                <div class="menu-text nav-page" link="RoomType">户型分布</div>
                <div class="menu-text nav-panorama " type="child" >户型鉴赏
                    <div class="nav-simple">
                        <div class="nav-panorama simple-content" style="margin: 0.6em" type="simple"  link="simple3">100平</div>
                        <div class="nav-panorama simple-content" type="simple" link="simple4">122平</div>
                    </div>
                </div>
                <div class="menu-text">实体样板间</div>
            </div>
            <i style="background-position-x: -478px;"></i><span>户型鉴赏</span>
        </div>
        <div class="panorama-menu menu-others1" navShow="true">
            <div class="menu-content menu-simple-content">
                <div class="menu-text" id="ad" >品牌</div>
                <div class="menu-text " id="map" >地图</div>
                <div class="menu-text" id="tel" >电话</div>
            </div>
            <i style="background-position-x: -619px;"></i><span>联系方式</span>
        </div>
    </div>
    <div onclick="window.location.href ='tel:02835018888'" class="content-tel">联系电话：028-35018888</div>
    <div class="nav-app">
        <a href="https://apis.map.qq.com/uri/v1/marker?marker=coord:30.242496,104.073143;title:%E7%B4%AB%E9%87%91%E5%A4%A9%E5%BA%9C%E5%9F%8E;addr:%E5%9B%9B%E5%B7%9D%E7%9C%81%E7%9C%89%E5%B1%B1%E5%B8%82%E4%BB%81%E5%AF%BF%E5%8E%BF%E5%A4%A9%E5%BA%9C%E5%A4%A7%E9%81%93%E8%BE%85%E8%B7%AF&amp;referer=myapp" target="_blank">腾讯地图</a>
        <a href="https://uri.amap.com/marker?position=104.073143,30.242496&name=紫金天府城&src=mypage&coordinate=gaode&callnative=0">高德地图</a>
        <a href="http://api.map.baidu.com/marker?location=30.246075,104.07948&title=紫金天府城&content=四川省眉山市仁寿县天府大道辅路&output=html&src=webapp.baidu.openAPIdemo">百度地图</a>
    </div>
    <div class="content-div" >
        <div class="room-navigate">
            <div class="room-navigate-img"></div>
            <div class="room-navigate-icon" status="hide"></div>
        </div>
    </div>
    <div class="home-img-container">
        <div class="progess-percent">0%</div>
    </div>
    <div class="ad-img-container"></div>
<!--    <img id="ad-img" src="/img/ad.jpg">-->
    <div style="display: none">
        <p id="appId" th:text="${appid}"></p>
        <p id="timestamp" th:text="${timestamp}"></p>
        <p id="nonceStr" th:text="${nonceStr}"></p>
        <p id="signature" th:text="${signature}"></p>
        <p id="url" th:text="${url}"></p>
    </div>
</div>
<div id="panorama1"></div>
<script>
    //encodeURI
    let link = window.location.href.split("?")[0];
    if(link !== window.location.href)
    {
        window.location.href = link;
    }
    mapRender = 0;
    viewer = undefined;
    debug = true;
    hfov = isMobile() ?60:120;
    roomfov = isMobile()?60:120;
    interval = undefined;
    loop=0;
    interval = window.setInterval(iconAnimate,100);
    function iconAnimate(){
        $(".simple-hotspot>.icon-bg").css("background-position-y",(-12-40*loop)+"px");
        if(loop === 9){
            loop=0;
        }else {
            loop++;
        }
    }
    $(document).ready(function (){
        //计算进度元素显示位置
        let x =710/1619;
        let y =1475/2549;
        let bgP =2549/1619;
        let width =window.innerWidth;
        let height =window.innerHeight;
        let bgH = width*bgP;
        let calh =(height-bgH)/2;
        $(".progess-percent").css({"left":width*x+"px","top":(bgH*y+calh)+"px"});

        let url=$("#url").text();//location.href;
        wx.config({
            debug: false,
            appId: $("#appId").text(),
            timestamp: $("#timestamp").text(),
            nonceStr: $("#nonceStr").text(),
            signature: $("#signature").text(),
            jsApiList: [
                'onMenuShareAppMessage',
                'onMenuShareTimeline'
            ]
        });
        wx.ready(function () {      //需在用户可能点击分享按钮前就先调用
            let shareData = {
                title: "蓉泰·紫金天府·微沙盘", // 分享标题
                desc: "蓉泰·紫金天府【人文府邸 名仕大宅】115㎡-198㎡生态花语洋房。", // 分享描述
                link: url, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: 'http://www.jxtfh5.top/img/share.jpg', // 分享图标
                success: function () {
                    //alert("分享给朋友配置成功");
                }
            };
            wx.onMenuShareAppMessage(shareData);
            wx.onMenuShareTimeline(shareData);
        });
        wx.error(function (res) {
            //alert.log("wxconfigERROR:"+res.errMsg);
        });
        for(let i =0;i<49;i++){
            $(".room-navigate-img").append($("<div class='navigate-position' number="+i+"></div>"));
        }
        menuClick("/getPanoramaView");
        // wbmg_MusicManager.regist('background', '/music/Leaf-white-album.mp3');
        // wbmg_MusicManager.play( 'background' );
        $(".panorama-menu").click(function(){
            $(".content-tel").hide();
            if($(this).attr("navShow") === undefined){
                $(".nav-app").hide();
            }
            $(".load-tip").hide();
            $(this).addClass("action");
            $(this).siblings().removeClass("action");
            if($(this).attr("link") === "Simple" ||$(this).attr("link") === "Others"){return;}
            //子菜单展示
            let target = $(this).children(".menu-content");
            let flag = target.is(':visible');
            $(".menu-content").hide();
            if (flag) {
                target.hide();
            } else {
                target.show();
            }
            //menuClick (url);
            $(".room-navigate").hide();
            hideNavigate();
        });
        $(".menu-simple").click(function () {
            $(".menu-others-content").hide();
            $(".menu-simple-content").toggle();
        });
        $(".menu-text").click(function () {
            $(".hotspot-slot-view").hide();
            $(".ad-img-container").hide();
        });
        //全景图跳转
        $(".nav-panorama").click(function () {
            event.stopPropagation();
            let type = $(this).attr("type");
            if(type === "child"){
                $(".nav-simple").toggle();
                return;
            }
            if(mapRender === 1){
                mapRender = 0;
                $("#panorama").html("");
                viewer = pannellum.viewer('panorama', {
                    "default": {
                        "firstScene": "panorama",
                        "sceneFadeDuration": 1500,
                        //"hotSpotDebug": true,
                        "showControls":false,
                        "hfov": hfov, //缩放
                        "autoLoad":true
                    },
                    "scenes": {
                        "panorama":{
                            "pitch":-44.293,
                            "yaw": 3.530,
                            "panorama": "/img/panoramaViewImg/panorama.jpg",
                        }
                    }
                });
            }
            if(type){
                $(".nav-panorama").removeClass("simple-content-action");
                $(this).addClass("simple-content-action");
                if(type === "simple"){
                    //户型导航坐标点样式添加
                    let navType = $(this).attr("link");
                    let navPos = $(".navigate-position");
                    navPos.removeClass("nav-pos-simple3");
                    navPos.removeClass("nav-pos-simple4");
                    navPos.addClass("nav-pos-"+navType);
                }
                menuClick("/"+type+ "?token=" + new Date().getTime());
            }
        });
        //页面跳转
        $(".nav-page").click(function () {
            let url = "/get"+$(this).attr("link");
            menuClick (url);
        });
        $(".simple-content").click(function(){
            $(".room-navigate").show();
            $(this).addClass("simple-content-action");
            $(this).siblings().removeClass("simple-content-action");
            menuClick("/getSimple");
            $(".menu-simple-content").hide();
        });
        $(".menu-others").click(function () {
            $(".menu-simple-content").hide();
            $(".others-content-tel").hide();
            $(".menu-others-content").toggle("slow");
        });

        $(".room-navigate-icon").click(function () {
            if($(this).attr("status") === "hide"){
                showNavigate();
            }else{
                hideNavigate();
            }
        });
        $("#ad").click(function () {
            $(".ad-img-container").show();
        });
        $("#tel").click(function () {
            event.stopPropagation();
            $(".content-tel").toggle();
            telfun();
        });
        $(".music").click(function () {
            musicfun();
        });
        $("#map").click(function () {
            event.stopPropagation();
            $(".nav-panorama").removeClass("simple-content-action");
            $(".nav-app").show();
            mapfun();
        });

    });

    document.getElementsByClassName("tel")[0].addEventListener('touchstart', function(e) {
        telfun();
        e.preventDefault();
    });
    document.getElementsByClassName("music")[0].addEventListener('touchstart', function(e) {
        musicfun();
        e.preventDefault();
    });
    document.getElementsByClassName("map")[0].addEventListener('touchstart', function(e) {
        mapfun();
        e.preventDefault();
    });

    function peogressHander(e) {
        console.log("hander:"+(e+'').substring(0,4));
        let html = (e+'').substring(0,4)+"%";
        $(".progess-percent").html(html);
    }
    
    function telfun(){
        $(".content-tel").css("float","none");
        $(".others-content-tel").toggle();
    }
    function musicfun(){
        let e = $(".music");
        if(e.hasClass("others-action")){
            e.removeClass("others-action");
            wbmg_MusicManager.play( 'background' );
        }else{
            wbmg_MusicManager.pause( 'background' );
            e.addClass("others-action");
        }
    }
    function mapfun(){
        mapRender = 1;
        $(".room-navigate").hide();
        let x = 104.07948;
        let y = 30.246075;
        let ggPoint = new BMap.Point(x,y);
        //地图初始化
        let bm = new BMap.Map("panorama");
        bm.centerAndZoom(ggPoint, 12);
        bm.addControl(new BMap.NavigationControl());
        //添加gps marker和label
        let markergg = new BMap.Marker(ggPoint);
        bm.addOverlay(markergg); //添加GPS marker
        let labelgg = new BMap.Label("紫金天府城",{offset:new BMap.Size(20,-10)});
        markergg.setLabel(labelgg);
    }

    function menuClick (url){
        $.ajax({
            url:url,
            type:"get",
            success:function (e){
                if(url.indexOf("AreaMap")!==-1 || url.indexOf("RoomType")!==-1){
                    $("#panorama").html("");
                    $("#panorama").html(e);
                }else {
                    $("#panorama1").html(e);
                }
                $(".menu-content").hide();
                $(".nav-simple").hide();
            }
        });
    }

    function isMobile() {
        let userAgentInfo = navigator.userAgent;
        let mobileAgents = [ "Android", "iPhone", "SymbianOS", "Windows Phone", "iPad","iPod"];
        let mobile_flag = false;
        //根据userAgent判断是否是手机
        for (let v = 0; v < mobileAgents.length; v++) {
            if (userAgentInfo.indexOf(mobileAgents[v]) > 0) {
                mobile_flag = true;
                break;
            }
        }
        let screen_width = window.screen.width;
        let screen_height = window.screen.height;
        //根据屏幕分辨率判断是否是手机
        if(screen_width < 600 && screen_height < 900){
            mobile_flag = true;
        }
        return mobile_flag;
    }

    let wbmg_MusicManager = new function() {
        let listMusics = {};
        this.regist = function(nameMusic, urlMusic) {
            if (null != nameMusic && null != urlMusic) {
                let elementAudio = document.createElement('audio');
                elementAudio.id = nameMusic;
                elementAudio.loop = 'loop';
                elementAudio.src = urlMusic;
                document.body.appendChild(elementAudio);
                document.addEventListener("WeixinJSBridgeReady", function() { elementAudio.play(); }, false);
                document.addEventListener('YixinJSBridgeReady', function() { elementAudio.play(); }, false);
                listMusics[nameMusic] = { 'name': nameMusic, 'object': elementAudio, 'url': urlMusic };
            }
        };
        this.play = function(nameMusic) {
            if (listMusics[nameMusic]) {
                let itemMusic = listMusics[nameMusic];
                itemMusic['object'].play();
            }
        };
        this.pause = function(nameMusic, statu) {
            if (null != statu) {
                statu ? itemMusic['object'].play() : itemMusic['object'].pause();
            } else {
                if (listMusics[nameMusic]) {
                    let itemMusic = listMusics[nameMusic];
                    if (itemMusic['object'].paused) {
                        itemMusic['object'].play();
                    } else {
                        itemMusic['object'].pause();
                    }
                }
            }
        }
    };

    function hideNavigate(){
        $(".room-navigate-icon").attr("status","hide");
        $(".room-navigate-icon").css({'background-image': 'url(/img/simpleImg/show-icon.png)'});
        $(".room-navigate").css({'transform': 'translateX(-275px)'});
    }
    function showNavigate() {
        $(".room-navigate-icon").attr("status","show");
        $(".room-navigate-icon").css({'background-image': 'url(/img/simpleImg/hide-icon.png)'});
        $(".room-navigate").css({'transform': 'translateX(0px)'});
    }

</script>

</body>
</html>