<style>
    .navigate27{
        transform:translateY(-25px);
    }
    .hotspot-choose{
        position: absolute;
        z-index: 99;
        right: 0;
        bottom: 100px;
        margin-right: 1vw;
    }
    .hotspot-slot{
        display: none;
        overflow: visible;
        width:60px;
        opacity: 0.7;
        pointer-events: auto;
        border-radius: 15px;
        z-index: 999;
        text-align: center;
        padding: 0 10px;
        cursor: pointer;
        font-size: 0.9rem;
        color: rgb(255,255,255);
        background-color: rgba(0,0,0,0.8);
        margin-top: 5px;
    }
</style>
<div class="hotspot-choose" >
    <div class="hotspot-slot slot-traffic life">交&nbsp;&nbsp;通</div>
    <div class="hotspot-slot slot-animate life" pit="-42.25" onclick="LookAt(-42.25,50)">商&nbsp;&nbsp;业</div>
    <div class="hotspot-slot slot-animate life" pit="-29.55">市&nbsp;&nbsp;政</div>
    <div class="hotspot-slot slot-animate life" pit="-19.55">教&nbsp;&nbsp;育</div>
    <div class="hotspot-slot slot-animate life" pit="-9.55">生&nbsp;&nbsp;态</div>
    <div class="hotspot-slot slot-animate life" pit="0.55">医&nbsp;&nbsp;疗</div>
    <div class="hotspot-slot slot-animate traffic" pit="-29.55">主干道</div>
    <div class="hotspot-slot slot-animate traffic" pit="-29.55">地铁</div>
    <div class="hotspot-slot industry" link="industry" pit="-29.55">学校</div>
    <div class="hotspot-slot industry" link="industry1" pit="-29.55">医院</div>
    <div class="hotspot-slot industry" link="industry2" pit="-29.55">公园</div>
</div>
<script>
    $(document).ready(function () {
        let view = getSimple();
        console.log(viewer.getScene()+"\n"+view);
        let sceneId = $(".simple-content-action").attr("link");
        viewer.addScene(sceneId,view);
        viewer.loadScene(sceneId);
        //let viewer = pannellum.viewer('panorama', view);
        $(".slot-animate").click(function () {
            viewer.lookAt($(this).attr("pit"),50,viewer.getHfov(),500);
        });
        //渲染交通全景图
        $(".slot-traffic").click(function () {
            $(".life").hide();
            $(".traffic").show();
            viewer.addScene("traffic",getSimple("traffic"));
            viewer.loadScene("traffic");
        });
        //渲染产业圈全景图
        $(".industry").click(function () {
            let sceneId = $(this).attr("link");
            viewer.addScene(sceneId,getSimple(sceneId));
            viewer.loadScene(sceneId);
        });
    });
    function LookAt(p,y){

    }
    function getSimple(sceneId){
        let object =
            {
                "panorama": {
                    "pitch":-44.293,
                    "yaw": 3.530,
                    "load":hasLoad,
                    "panorama": "/img/panoramaViewImg/panorama2.jpg",
                    "preview":"/img/panoramaViewImg/preview.jpg",
                },
                "business":{
                    "pitch":-42.956,
                    "yaw": 0.622,
                    "panorama": "/img/projectOverview/business.jpg",
                    "hotSpots":getHotSpot("business")
                },
                "apartment":{
                    "pitch":-44.293,
                    "yaw": 3.530,
                    "panorama": "/img/projectOverview/apartment.jpg",
                    "hotSpots":getHotSpot("apartment")
                },
                "industry":{
                    "pitch":-47.321,
                    "yaw": 20.150,
                    "panorama": "/img/projectOverview/circle_school.jpg",
                    "hotSpots":[
                        {
                            "id":"spot-circle",
                            "pitch": -37.187,
                            "yaw": 69.058,
                            "text": "天府一中,天府一小"
                        },
                        {
                            "id":"spot-circle",
                            "pitch": -18.168,
                            "yaw":  8.867,
                            "text": "仁寿一中"
                        },
                        {
                            "id":"spot-circle",
                            "pitch": -16.111,
                            "yaw": -17.0637,
                            "text": "嘉祥外国语学院"
                        },
                        {
                            "id":"spot-circle",
                            "pitch": -26.771,
                            "yaw": -13.156,
                            "text": "视高小学,视高中学"
                        },
                        {
                            "id":"spot-circle",
                            "pitch": -45.028,
                            "yaw": -11.504,
                            "text": "钢铁中学"
                        },
                        {
                            "id":"spot-circle",
                            "pitch": -51.143,
                            "yaw": 16.592,
                            "text": "钢铁小学"
                        }
                    ]
                },
                "industry1":{
                    "pitch":-47.321,
                    "yaw": 20.150,
                    "panorama": "/img/projectOverview/circle_park.jpg",
                    "hotSpots":[
                        {
                            "id":"spot-circle",
                            "pitch":-34.117,
                            "yaw": 43.064,
                            "text": "寨子山公园"
                        },
                        {
                            "id":"spot-circle",
                            "pitch": -29.188,
                            "yaw":  -20.433,
                            "text": "柴桑河湿地公园"
                        },
                        {
                            "id":"spot-circle",
                            "pitch": -16.853,
                            "yaw": -98.158,
                            "text": "南天府公园"
                        },
                        {
                            "id":"spot-circle",
                            "pitch": -68.147,
                            "yaw": -68.990,
                            "text": "帽顶山公园"
                        }
                    ]
                },
                "industry2":{
                    "pitch":-47.321,
                    "yaw": 20.150,
                    "panorama": "/img/projectOverview/circle_hospital.jpg",
                    "hotSpots":[
                        {
                            "id":"spot-circle",
                            "pitch":-51.535,
                            "yaw": 16.563,
                            "text": "天府视高医院"
                        },
                        {
                            "id":"spot-circle",
                            "pitch": -36.131,
                            "yaw":  -77.57,
                            "text": "日本东京女子医院"
                        }
                    ]
                },
                "life":{
                    "pitch":-28.701,
                    "yaw": 2.712,
                    "panorama": "/img/projectOverview/life.jpg",
                    "hotSpots":getHotSpot("life")
                },
                "traffic":{
                    "pitch":-47.321,
                    "yaw": 20.150,
                    "panorama": "/img/projectOverview/traffic.jpg",
                }
            };
        //如果传了sceneId则直接返回对应scene
        if(sceneId != undefined){
            return object[sceneId];
        }
        //未传参数则获取被选中的菜单中的sceneId,并且显示以sceneId为类名的按钮
        sceneId = $(".simple-content-action").attr("link");
        $("."+sceneId).show();
        return object[sceneId];
    }

    function getHotSpot(slot){
        let object = {
            "business": [
                {
                    "id":"spot-bus",
                    "pitch": -29.464,
                    "yaw": -28.038,
                    "createTooltipFunc": imgSpot,
                    "createTooltipArgs": "unit1build1.png"
                },
                {
                    "id":"spot-bus",
                    "pitch": -46.751,
                    "yaw": -14.027,
                    "createTooltipFunc": imgSpot,
                    "createTooltipArgs": "4.png"
                }
            ],
            "apartment":[
                {
                    "id":"spot-apa",
                    "pitch": -51.290,
                    "yaw": 25.974,
                    "createTooltipFunc": imgSpot,
                    "createTooltipArgs": "13.png"
                }
            ],
            "life":[
                {
                    "id":"spot-type-1",
                    "pitch": -29.380,
                    "yaw": 2.822,
                    "cssClass": "custom-hotspot,spot1,park",
                    "createTooltipFunc": hotspot,
                    "createTooltipArgs": "天地园"
                },
                {
                    "id":"spot-type-1",
                    "pitch": -29.380,
                    "yaw": 22.822,
                    "cssClass": "custom-hotspot,spot1,park",
                    "createTooltipFunc": hotspot,
                    "createTooltipArgs": "天地园1"
                }
            ]
        };
        return object[slot];
    }

    function hotspot(hotSpotDiv,args){
        hotSpotDiv.classList.add('simple-hotspot');
        let div = document.createElement('div');
        div.innerHTML = args;
        hotSpotDiv.style.width = div.scrollWidth - 15 + 'px';
        hotSpotDiv.appendChild(div);
    }
    function imgSpot(hotSpotDiv, args) {
        let div = document.createElement('div');
        let img = $('<img src="/img/icon/'+args+'" class="spot-img" />');
        $(hotSpotDiv).append(img);
    }
    function hotspotClick() {
        $(".navigate-position").removeClass("navigate27");
        let simple = $(".simple-content-action").attr("link");
        let number = getNavicateNum(this["sceneId"]);
        if(simple === "simple2"){
            if(number === 27){
                $(".navigate-position[number=27]").addClass("navigate27");
            }
        }
        if(simple === "simple3"){
            if(number === 27){
                $(".navigate-position[number=27]").addClass("navigate27");
            }
        }
        $(".navigate-position").css({'background-image': 'url()'});
        $(".navigate-position[number='"+number+"']")
            .css({'background-image': 'url(/img/simpleImg/spot-active.png)'});
    }
    function hotspotTouch() {
        $(".navigate-position").removeClass("navigate27");
        let simple = $(".simple-content-action").attr("link");
        let number = getNavicateNum(this["sceneId"]);
        if(simple === "simple2"){
            if(number === 27){
                $(".navigate-position[number=27]").addClass("navigate27");
            }
        }
        if(simple === "simple3"){
            if(number === 27){
                $(".navigate-position[number=27]").addClass("navigate27");
            }
        }
        $(".navigate-position").css({'background-image': 'url()'});
        $(".navigate-position[number='"+number+"']")
            .css({'background-image': 'url(/img/simpleImg/spot-active.png)'});
    }
</script>