<style>
    .navigate27{
        transform:translateY(-25px);
    }
    .icon-bg{
        width: 40px;
        height: 40px;
    }
    .forward-hotspot>.icon-bg{
        background: url(/img/simpleImg/forward.png) no-repeat;
        background-size: 100%;
        background-position-y: -12px;
    }
    .left-hotspot>.icon-bg{
        background: url(/img/simpleImg/turnLeft.png) no-repeat;
        background-size: 100%;
        background-position-y: -12px;
    }
    .right-hotspot>.icon-bg{
        background: url(/img/simpleImg/turnRight.png) no-repeat;
        background-size: 100%;
        background-position-y: -12px;
    }
</style>
<script>
    $(document).ready(function () {
        let scene = getSimple();
        $("#panorama").html("");
        viewer = pannellum.viewer('panorama', {
            "default": {
                "firstScene": Object.keys(scene)[0],
                "sceneFadeDuration": 1000,
                //"hotSpotDebug": true,
                "hfov": roomfov, //缩放
                "maxHfov": 80,
                "showControls":false,
                "autoLoad":true
            },
            "scenes": scene
        });
    });
    function getSimple(){
        let object =
            {
                "A": {
                    "livingRoom": {
                        "title": "客厅",
                        "pitch": -18.24,
                        "yaw": -72.47,
                        "panorama": "/img/simpleImg/A/livingRoom.jpg"
                    },
                    "bedRoom1": {
                        "title": "主卧",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/A/bedRoom1.jpg"
                    },
                    "bedRoom2": {
                        "title": "次卧",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/A/bedRoom2.jpg"
                    },
                    "bedRoom3": {
                        "title": "次卧",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/A/bedRoom3.jpg"
                    },
                    "kitchen": {
                        "title": "厨房",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/A/kitchen.jpg"
                    },
                    "toilet": {
                        "title": "卫生间",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/A/toilet.jpg"
                    },
                    "toilet1": {
                        "title": "卫生间",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/A/toilet1.jpg"
                    },
                    "balcony": {
                        "title": "阳台",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/A/balcony.jpg"
                    }
                },
                "B": {
                    "livingRoom": {
                        "title": "客厅",
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/B/livingRoom.jpg"
                    },
                    "bedRoom1": {
                        "title": "主卧",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/B/bedRoom1.jpg"
                    },
                    "bedRoom2": {
                        "title": "次卧",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/B/bedRoom2.jpg"
                    },
                    "bedRoom3": {
                        "title": "次卧",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/B/bedRoom3.jpg"
                    },
                    "bedRoom4": {
                        "title": "次卧",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/B/bedRoom4.jpg"
                    },
                    "kitchen": {
                        "title": "厨房",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/B/kitchen.jpg"
                    },
                    "toilet": {
                        "title": "卫生间",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/B/toilet.jpg"
                    },
                    "toilet1": {
                        "title": "卫生间",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/B/toilet1.jpg"
                    },
                    "entrance": {
                        "title": "玄关",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/B/entrance.jpg"
                    },
                    "balcony": {
                        "title": "阳台",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/B/balcony.jpg"
                    }
                },
                "C": {
                    "livingRoom": {
                        "title": "客厅",
                        "pitch": -20.10,
                        "yaw": 35.87,
                        "panorama": "/img/simpleImg/C/livingRoom.jpg"
                    },
                    "bedRoom1": {
                        "title": "主卧",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/C/bedRoom1.jpg"
                    },
                    "bedRoom2": {
                        "title": "次卧",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/C/bedRoom2.jpg"
                    },
                    "bedRoom3": {
                        "title": "次卧",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/C/bedRoom3.jpg"
                    },
                    "bookRoom": {
                        "title": "书房",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/C/bookRoom.jpg"
                    },
                    "kitchen": {
                        "title": "厨房",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/C/kitchen.jpg"
                    },
                    "toilet": {
                        "title": "卫生间",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/C/toilet.jpg"
                    },
                    "toilet1": {
                        "title": "卫生间",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/C/toilet1.jpg"
                    },
                    "entrance": {
                        "title": "玄关",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/C/entrance.jpg"
                    },
                    "balcony": {
                        "title": "阳台",
                        "hfov": roomfov, //缩放
                        "pitch": -3,
                        "yaw": 0,
                        "panorama": "/img/simpleImg/C/balcony.jpg"
                    }
                }
            };
        let simple =$(".room_active").attr("scene");
        return object[simple];
    }

</script>